<html>
   <body>
      
      <form method = "POST">
         Enter Your OTP : <input type = "password" name = "otp" required>  
         <br>
         <input type = "submit" value = "Submit">
      </form>
    
   </body>
</html>
